* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: grid;
    place-content: centre;
    font-size: 3rem;
    background-color: black;
    color: whitesmoke;
}

nav{
    padding: 1rem;
    background-color: rgb(76, 160, 53);
    color: white;
    font-size: 2.5rem;
}

main{
    flex-grow: 1;
    display: grid;
    place-content: centre;
}

h1, p {
    text-align: center;
}

a{
    text-decoration: none;
    color: aquamarine;
}

a:hover{
     opacity: .85;
}
h1,h2{
    font-size: 2.5rem;
}